<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
    <h1>Игры</h1>
    <ul>
        {% for game, button_text in games.items %}
            <li>{{ game }} <button>{{ button_text }}</button></li>
        {% endfor %}
    </ul>
    <a href="{% url 'platform' %}"><button>Вернуться обратно</button></a>
</body>
</html>
cart.html:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <h1>Извините, Ваша корзина пуста</h1>
    <a href="{% url 'platform' %}"><button>Вернуться обратно</button></a>
</body>
</html>


